.index {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.index__navbar {
    width: 100%;
    height: 70px;
}

.index__navbar__menuicon {
    position: absolute;
    top: 14px;
    left: 190px;
}

.index__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.index__contentNews {
    width: 100%;
}
.index__contentLeftMenu {
    width: 400px;
    background-image: linear-gradient(65.14deg, #f849fc 0, #8349c1 100%);
    padding-top: 30px;
}

.index__contentRightMenu {
    background-color: brown;
    width: 500px;
}
.index__contentLeftMenu__item {
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 21px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;

    & p {
        margin: 0;
    }

    & svg {
        margin: 0px 15px;
    }

    & div {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
    }

    & .index__menuIcons {
        margin: 0px 15px;
        width: 22px;
        pointer-events: none;
    }
}

.menuselected {
    background-color: #7241a6;
}

.menuItemSelect {
    font-weight: bold;
}
