.test {
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: #ff7205;
    }
}

.test__questContainer {
    display: flex;
}

.test__quest {
    text-align: center;
}

.test__questCard {
    width: 260px;
    height: 280px;
    border-radius: 32px;
    margin: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 6px 6px 17px -5px rgba(0,0,0,0.20);
    -moz-box-shadow: 6px 6px 17px -5px rgba(0,0,0,0.20);
    box-shadow: 6px 6px 17px -5px rgba(0,0,0,0.20);
    h3{
        color: #1C3099;
    }
    
}

.test__questCardImage{
    width: 150px;
    
}
