.register {
    width: 100wh;
    height: 100vh;
    display: flex;
}

.register__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    button  {
        margin: 10px 0;
    }

    div{
        margin: 10px 0;
    
       
    }
    label{
        margin: 10px 0;
    }
}
.boton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__ltitle {
    color: #ff7205;
}
.register__lrow {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.register__r {
    width: 50%;
    height: 100%;
    background: -prefix-linear-gradient(top, #8349c1, #490462);
    background: linear-gradient(to bottom, #8349c1, #490462);
    position: relative;
}


.register__l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
}

.register__rEmma {
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    
}


.register__rInfo{
    color: white;
    width: 70%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    text-align: center;

    h1{
        font-size: 50px;
        line-height: 48px;
        color: white;
    }
    p{
        font-size: 20px;
    }

}