.Chat{
    
}

.ChatView{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    & div{
        width: 100%;
        margin-au
        & p{
            width: fit-content;
            background-color: #B36BFF;
            padding: 10px 10px;
            border-radius: 5px;
            color: white;
        }
    }
 
}

.inputChat{
    display: flex;
    width: 100%;
    & input{
        width: 100%;
        margin-right: 20px;
    }
}

.Q1sYGqzYQpPqjv2oifBx9HVqL992{
        background-color: #EFF0F6 !important;
        padding: 10px 10px;
        border-radius: 5px;
        color: black !important;
        text-align: right;
}