.home {
    width: 100wh;
    height: 100vh;
    display: flex;
}

.home__buttons {
    display: flex;
    flex-direction: column;
    button {
        margin: 10px 0;
    }
}

.home__ltitle {
    color: #ff7205;
}
.home__lrow {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.home__r {
    width: 50%;
    height: 100%;
    background: -prefix-linear-gradient(top, #8349c1, #490462);
    background: linear-gradient(to bottom, #8349c1, #490462);
    position: relative;
}

.logo {
    width: 110px;
    position: absolute;
    top: 8px;
    left: 40px;
}

.home__l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.home__rEmma {
    height: 80%;
    position: absolute;
    bottom: 0px;
    right: 10%;
}


.home__rInfo{
    color: white;
    width: 40%;
    position: absolute;
    left: 10%;
    top: 130px;
    text-align: center;

    h1{
        font-size: 50px;
        color: white;
    }
    p{
        font-size: 20px;
    }
}