.Header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #faf4fd;
    position: relative;

    &.float {
        position: absolute;
        z-index: 1000;
        background: none;
    }

    &__logo {
        height: 80%;

        padding-left: 35px;
    }

}

.singOut {
   position: absolute;
   right: 35px;
   cursor: pointer;
}