.carousel {
    border-radius: 10px;
    box-shadow: 4.72059px 4.72059px 4.72059px rgba(0, 0, 0, 0.02), -4.72059px -4.72059px 4.72059px rgba(0, 0, 0, 0.02);
}

.dot {
    background-color: #dfe3ec !important;
}
.selected {
    background-color: #ff7200 !important;
}

.legend {
    opacity: 1 !important;
    padding: 55px !important;
    bottom: -15px !important;
    width: 100% !important;
    left: -55% !important;
    background-color: white !important;
    color: black !important;
}

p {
}
