.carousel {
    border-radius: 10px;
    box-shadow: 4.72059px 4.72059px 4.72059px rgba(0, 0, 0, 0.02), -4.72059px -4.72059px 4.72059px rgba(0, 0, 0, 0.02);
}

.dot {
    background-color: #dfe3ec !important;
}
.selected {
    background-color: #ff7200 !important;
}

.legend {
    opacity: 0.5 !important;
    padding: 55px !important;
    bottom: 0px !important;
    width: 100% !important;
    left: -100% !important;
    background-color: white !important;
    color: black !important;
    margin: 0px !important;
}

p {
}

.carousel-root {
    margin-bottom: 50px;
    p {
        font-size: 18px !important;
        opacity: 1 !important;
    }
}



