.formDescription__info{
    display: flex;
}


.formDescription__info__img{
    margin-left: 40px;
    height: 300px;
}

.formDescription__info__btn{
    background-color: #7241A6 !important;
    padding: 18px 50px !important;
    border-radius: 10px !important;
}

.onBoardTitle{
    color: #7241A6 !important;
}
