.news {
   
}

.firstTitle{
    margin-top: 60px !important;

}

h1{
    color: #3D4454;

}

.carousel {
    & img {
        width: 100%;
    }
}
.news__banner {
    width: 100%;
    height: 105px;
    background: linear-gradient(90deg, #441c99 0%, #ba57ca 63.66%, #8849c4 107.22%);
    border-radius: 10px;
    position: relative;
    top: 34px;
    margin: 0px;
    color: white;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h3 {
        margin: 0px;
    }

    & p {
        margin: 0px;
    }
}

.news__banner__buttomChat {
    color: white;
    width: 130px;
    height: 48px;
    background: linear-gradient(0deg, #f849fc, #f849fc);
    opacity: 0.7;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
    font-weight: 700;
    cursor: pointer;
}

.news__banner__text{
    margin-left: 130px;
}

.news__bannerCards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.news__bannerItems{
    cursor: pointer;
    border-radius: 10px;
    width: 240px;
    height: 105px;
    background-image: url('https://github.com/AndresQA/Emma/blob/main/public/images/cardbackground.png?raw=true');
    background-size: cover;
    margin: 20px 0px;
    color: white;
    position: relative;

    h4{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.news__bannerItems__icon{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.news__bannerEmmaImg {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}


