@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  margin: 0 !important;
  font-family: "Poppins", sans-serif !important;
  width: 100vw;
  height: 100vh;
}

a:link,
a:visited,
a:active {
  text-decoration: none !important;
}

.home {
  width: 100wh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__buttons button {
  margin: 10px 0;
}

.home__ltitle {
  color: #ff7205;
}

.home__lrow {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__r {
  width: 50%;
  height: 100%;
  background: -prefix-linear-gradient(top, #8349c1, #490462);
  background: -webkit-gradient(linear, left top, left bottom, from(#8349c1), to(#490462));
  background: linear-gradient(to bottom, #8349c1, #490462);
  position: relative;
}

.logo {
  width: 110px;
  position: absolute;
  top: 8px;
  left: 40px;
}

.home__l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__rEmma {
  width: 500px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.home__rInfo {
  color: white;
  width: 40%;
  position: absolute;
  left: 130px;
  top: 130px;
  text-align: center;
}

.home__rInfo h1 {
  font-size: 50px;
}

.home__rInfo p {
  font-size: 20px;
}

.register {
  width: 100wh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.register__buttons button {
  margin: 10px 0;
}

.register__buttons div {
  margin: 10px 0;
}

.register__buttons label {
  margin: 10px 0;
}

.register__ltitle {
  color: #ff7205;
}

.register__lrow {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register__r {
  width: 50%;
  height: 100%;
  background: -prefix-linear-gradient(top, #8349c1, #490462);
  background: -webkit-gradient(linear, left top, left bottom, from(#8349c1), to(#490462));
  background: linear-gradient(to bottom, #8349c1, #490462);
  position: relative;
}

.register__l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.register__rEmma {
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: auto;
}

.register__rInfo {
  color: white;
  width: 70%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin: auto;
  text-align: center;
}

.register__rInfo h1 {
  font-size: 50px;
  line-height: 48px;
}

.register__rInfo p {
  font-size: 20px;
}

.test {
  width: 100wh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test h1 {
  color: #ff7205;
}

.test__questContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test__quest {
  text-align: center;
}

.test__questCard {
  width: 260px;
  height: 280px;
  border-radius: 32px;
  margin: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 6px 6px 17px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 17px -5px rgba(0, 0, 0, 0.2);
}

.test__questCard h3 {
  color: #1C3099;
}

.test__questCardImage {
  width: 150px;
}

.index {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #faf4fd;
}

.index__navbar {
  width: 100%;
  height: 70px;
  background-color: white;
}

.index__navbar__menuicon {
  position: absolute;
  top: 6px;
  left: 190px;
}

.index__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index__contentNews {
  width: 100%;
}

.index__contentLeftMenu {
  width: 400px;
  background-image: linear-gradient(65.14deg, #f849fc 0, #8349c1 100%);
  padding-top: 30px;
}

.index__contentLeftMenu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 21px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.4s linear 0.2s;
  transition: background-color 0.4s linear 0.2s;
}

.index__contentLeftMenu__item p {
  margin: 0;
}

.index__contentLeftMenu__item svg {
  margin: 0px 15px;
}

.index__contentLeftMenu__item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index__contentLeftMenu__item .index__menuIcons {
  margin: 0px 15px;
  width: 22px;
  pointer-events: none;
}

.index__contentLeftMenu__item:hover {
  background-color: #7241a667;
}

.menuselected {
  background-color: #7241a6;
  pointer-events: none;
  font-weight: bold;
}

.index__contentRightMenu {
  width: 500px;
  padding: 0px 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index__contentRightMenu__boxfaq {
  background-color: white;
  padding: 30px 10px;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.02), -4px -4px 4px rgba(0, 0, 0, 0.02);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.02), -4px -4px 4px rgba(0, 0, 0, 0.02);
}

.index__contentRightMenu__card {
  position: relative;
  pointer-events: none;
  height: 95px;
  background-color: #8349c1;
  margin-top: 40px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index__contentRightMenu__card h2 {
  margin-right: 20px;
}

.index__contentRightMenu__cardImg {
  position: absolute;
  width: 100px;
  bottom: 0px;
  left: 0px;
}

.index__contentRightMenu__faq:first-child {
  margin-top: 0px;
}

.index__contentRightMenu__faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: -1px -1px 2px rgba(134, 141, 170, 0.15), 1px 1px 2px rgba(134, 141, 170, 0.15);
          box-shadow: -1px -1px 2px rgba(134, 141, 170, 0.15), 1px 1px 2px rgba(134, 141, 170, 0.15);
  border-radius: 10px;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0px;
}

.index__contentRightMenu__faq p {
  line-height: 1 !important;
  margin-left: 10px !important;
  font-weight: 400 !important;
  margin: 0 !important;
  padding: 15px 10px;
}

.index__contentRightMenu__faqImg {
  width: 40px;
  height: 40px;
}

.index__contentRightMenu__showMore {
  width: 100%;
  height: 50px;
  background-color: #ff7200;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.02), -4px -4px 4px rgba(0, 0, 0, 0.02);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.02), -4px -4px 4px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.news {
  padding: 20px 100px;
}

.carousel img {
  width: 100%;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */